@model Facile.BusinessPortal.Model.Compra.Servico.SolicitacaoServicoMedicao
@using Facile.BusinessPortal.Model.Compra.Servico

@{
    ViewData["Title"] = "Solicitação de Serviço";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-action="Index">Listagem</a>
    </li>
    <li class="breadcrumb-item active">solicitação de serviço</li>
</ol>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Médição
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Tela Cheia"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form id="FormCad" name="FormCad" accept-charset="UTF-8" asp-action="CreateMedicao" method="POST" enctype="multipart/form-data">

                        @{

                            var Result = (ViewBag.ListaSolicitacaoServicoItem as ICollection<SolicitacaoServicoItem>);
                            long SolicitacaoServicoID = 0;
                            if (Result != null)
                            {
                                SolicitacaoServicoID = Result.FirstOrDefault().SolicitacaoServicoID;
                            }
                            <input name="SolicitacaoServicoID" type="hidden" value="@SolicitacaoServicoID">

                            if (ViewBag.SolicitacaoServicoMedicao != null)
                            {
                                var SolicitacaoServicoMedicao = (ViewBag.SolicitacaoServicoMedicao as SolicitacaoServicoMedicao);
                                <div class="card">
                                    <div class="row">
                                        <div class="col-md-12"><h2>Ações</h2></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 div-anexo-nota-fiscal">
                                            @if (SolicitacaoServicoMedicao.Status == StatusSolicitacaoServicoMedicao.AguardandoNotaFiscal)
                                            {
                                                <a title="Nota Fiscal" href="javascript:void(0)" SolicitacaoServicoMedicaoID="@SolicitacaoServicoMedicao.ID" Status="AF" class="btn btn-inline-block mr-1 btn-anexo-medicao-nota-fiscal">
                                                    Anexo Nota Fiscal <i class="fal fa-upload color-fusion-300"></i>
                                                </a>
                                            }
                                            @if (SolicitacaoServicoMedicao.Status == StatusSolicitacaoServicoMedicao.Concluido)
                                            {
                                                <a title="Nota Fiscal" href="/Compra/SolicitacaoServicoMedicao/GetAnexoNotaFiscal/@SolicitacaoServicoMedicao.ID" target="_blank" class="btn btn-inline-block mr-1">
                                                    Anexo <i class="fal fa-paperclip color-fusion-300"></i>
                                                </a>
                                            }
                                            @if (SolicitacaoServicoMedicao.Status == StatusSolicitacaoServicoMedicao.NotaFiscalAdicionada)
                                            {
                                                <a title="Nota Fiscal" href="javascript:void(0)" SolicitacaoServicoMedicaoID="@SolicitacaoServicoMedicao.ID" Status="AF" class="btn btn-inline-block mr-1 btn-anexo-medicao-nota-fiscal">
                                                    Anexo Nota Fiscal <i class="fal fa-upload color-fusion-300"></i>
                                                </a>
                                                <a title="Nota Fiscal" href="/Compra/SolicitacaoServicoMedicao/GetAnexoNotaFiscal/@SolicitacaoServicoMedicao.ID" target="_blank" class="btn btn-inline-block mr-1">
                                                    Anexo <i class="fal fa-paperclip color-fusion-300"></i>
                                                </a>
                                            }
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="col-md-12"></div>
                                    </div>
                                </div>
                            }



                        }




                        <div class="accordion accordion-hover" id="accordion-0">
                            @{
                                int i = 0;


                                var ListaSolicitacaoServicoCotacaoItem = (ViewBag.ListaSolicitacaoServicoCotacaoItem as ICollection<SolicitacaoServicoCotacaoItem>);
                                var SolicitacaoServicoCotacaoItem = new SolicitacaoServicoCotacaoItem();

                                foreach (var item in (ViewBag.ListaSolicitacaoServicoItem as ICollection<SolicitacaoServicoItem>))
                                {

                                    if (ListaSolicitacaoServicoCotacaoItem != null && ListaSolicitacaoServicoCotacaoItem.Count() > 0)
                                    {
                                        SolicitacaoServicoCotacaoItem = ListaSolicitacaoServicoCotacaoItem.FirstOrDefault(x => x.SolicitacaoServicoItemID == item.ID);
                                        if (SolicitacaoServicoCotacaoItem == null)
                                        {
                                            SolicitacaoServicoCotacaoItem = new SolicitacaoServicoCotacaoItem();
                                        }
                                    }

                                    <div class="card">
                                        <div class="card-header">
                                            <a href="javascript:void(0);" class="card-title" data-toggle="collapse" data-target="#accordion-0-@i" aria-expanded="true">
                                                @item.Descricao
                                                <span class="ml-auto">
                                                    <span class="collapsed-reveal">
                                                        <i class="fal fa-chevron-up fs-xl"></i>
                                                    </span>
                                                    <span class="collapsed-hidden">
                                                        <i class="fal fa-chevron-down fs-xl"></i>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                        <div id="accordion-0-@i" class="collapse show" data-parent="#accordion-0">
                                            <div class="card-body" style="overflow-x: scroll;">
                                                <input name="SolicitacaoServicoMedicaoItem[@i].SolicitacaoServicoItemID" type="hidden" value="@item.ID">

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h2>Histórico das Medições</h2>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        @{
                                                            var SaldoMedicao = item.Quantidade;

                                                            if (item.UnidadeMedicao.Equals("1"))
                                                            {
                                                                SaldoMedicao = SolicitacaoServicoCotacaoItem.Preco;
                                                            }

                                                            var Status = true;
                                                            SaldoMedicao = 0;
                                                            <table class="table tabela-medicao" id="tabela-medicao" style="width: 1900px;">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Quantidade</th>
                                                                        <th>Valor Serviço</th>
                                                                        <th>Saldo Medição</th>
                                                                        <th>Data</th>
                                                                        <th>@item.UnidadeMedicaoDescricao()</th>
                                                                        <th>Valor</th>
                                                                        <th>Total</th>
                                                                        <th width="400px">Observação</th>
                                                                        <th width="200px">Anexo</th>
                                                                        <th width="200px">Status</th>
                                                                        <th width="200px">Ações</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (item.SolicitacaoServicoMedicaoItem != null && item.SolicitacaoServicoMedicaoItem.Count > 0)
                                                                    {
                                                                        foreach (var item_m in item.SolicitacaoServicoMedicaoItem)
                                                                        {
                                                                            <tr>
                                                                                <td>@(string.Format("{0:N}", item_m.Quantidade))</td>
                                                                                <td>@(string.Format("{0:N}", item_m.ValorServico))</td>
                                                                                <td>@(string.Format("{0:N}", item_m.SaldoMedicao))</td>
                                                                                <td>@(item_m.Data.ToString("dd/MM/yyyy"))</td>
                                                                                <td>@(string.Format("{0:N}", item_m.Medicao))</td>
                                                                                <td>
                                                                                    @if (item_m.UnidadeMedicao.Equals("1"))
                                                                                    {
                                                                                        @string.Format("{0:N}", ((item_m.Medicao / 100) * item_m.SaldoMedicao));
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        @string.Format("{0:N}", (item_m.Medicao * item_m.ValorServico));
                                                                                    }
                                                                                </td>
                                                                                <td>
                                                                                    @if (item_m.UnidadeMedicao.Equals("1"))
                                                                                    {
                                                                                        @string.Format("{0:N}", ((item_m.Medicao / 100) * item_m.SaldoMedicao));
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        @string.Format("{0:N}", (item_m.Medicao * item_m.ValorServico));
                                                                                    }
                                                                                </td>
                                                                                <td>@(item_m.Observacao)</td>
                                                                                <td>
                                                                                    <a title="Anexo" href="/Compra/SolicitacaoServicoMedicao/GetAnexo/@item_m.ID" target="_blank" Status="AF" class="">
                                                                                        @item_m.NomeAnexo
                                                                                    </a>
                                                                                </td>
                                                                                <th>@(item_m.StatusDescricao())</th>
                                                                                <th>
                                                                                    <div class="d-flex demo">
                                                                                        @if (item_m.Status == StatusSolicitacaoServicoMedicao.Aprovada)
                                                                                        {
                                                                                            <a title="Concluir" href="javascript:void(0)" SolicitacaoServicoItemMedicaoID="@item_m.ID" Status="C" class="btn btn-icon btn-inline-block mr-1 btn-concluir-medicao">
                                                                                                <i class="fal fa-check color-fusion-300"></i>
                                                                                            </a>

                                                                                        }
                                                                                        @if (item_m.Status == StatusSolicitacaoServicoMedicao.Aguardando)
                                                                                        {

                                                                                            <a title="Excluir" href="javascript:void(0)" SolicitacaoServicoItemMedicaoID="@item_m.ID" Status="E" class="btn btn-icon btn-inline-block mr-1 btn-excluir-medicao">
                                                                                                <i class="fal fa-trash color-fusion-300"></i>
                                                                                            </a>
                                                                                        }                                                                                       
                                                                                    </div>
                                                                                </th>
                                                                            </tr>
                                                                            if (item.UnidadeMedicao.Equals("1"))
                                                                            {
                                                                                SaldoMedicao += ((item_m.Medicao / 100) * item_m.SaldoMedicao);
                                                                            }
                                                                            else
                                                                            {
                                                                                SaldoMedicao += item_m.Medicao;
                                                                            }
                                                                            Status = item_m.Status == StatusSolicitacaoServicoMedicao.Concluido;
                                                                        }
                                                                    }

                                                                    @{
                                                                        if (item.UnidadeMedicao.Equals("1"))
                                                                        {
                                                                            //if (SaldoMedicao == 0)
                                                                            //{
                                                                            //SaldoMedicao = SolicitacaoServicoCotacaoItem.Preco * item.Quantidade;
                                                                            //} else {
                                                                            SaldoMedicao = (SolicitacaoServicoCotacaoItem.Preco * item.Quantidade) - SaldoMedicao;
                                                                            //}
                                                                        }
                                                                        else
                                                                        {
                                                                            SaldoMedicao = item.Quantidade - SaldoMedicao;
                                                                        }
                                                                    }

                                                                    <tr>
                                                                        <td colspan="11"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="11"><h2>Nova Medição</h2></td>
                                                                    </tr>

                                                                    @if (Status)
                                                                    {
                                                                        <tr>
                                                                            <th>Quantidade</th>
                                                                            <th>Valor Serviço</th>
                                                                            <th>Saldo Medição</th>
                                                                            <th>Data</th>
                                                                            <th>@item.UnidadeMedicaoDescricao()</th>
                                                                            <th>Valor</th>
                                                                            <th>Total</th>
                                                                            <th width="400px">Observação</th>
                                                                            <th width="200px">Anexo</th>
                                                                            <th width="200px"></th>
                                                                            <th width="200px"></th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th><input type="text" name="SolicitacaoServicoMedicaoItem[@i].Quantidade" value="@string.Format("{0:N}", item.Quantidade)" readonly class="form-control calc-quantidade" /></th>
                                                                            <th><input type="text" name="SolicitacaoServicoMedicaoItem[@i].ValorServico" value="@string.Format("{0:N}", SolicitacaoServicoCotacaoItem.Preco)" readonly class="form-control calc-valor-servico" /></th>
                                                                            <th>
                                                                                <input type="text" name="SolicitacaoServicoMedicaoItem[@i].SaldoMedicao" value="@string.Format("{0:N}", SaldoMedicao)" readonly class="form-control calc-saldo-medicao" />
                                                                                <input type="hidden" name="SolicitacaoServicoMedicaoItem[@i].UnidadeMedicao" value="@item.UnidadeMedicao" class="form-control calc-unidade-medicao" />
                                                                            </th>
                                                                            <th><input type="text" name="SolicitacaoServicoMedicaoItem[@i].Data" value="@DateTime.Now.ToString("dd/MM/yyyy")" class="form-control date-rangepicker"></th>
                                                                            <th><input type="text" name="SolicitacaoServicoMedicaoItem[@i].Medicao" value="" class="form-control calc-medicao" /></th>
                                                                            <th><input type="text" name="SolicitacaoServicoMedicaoItem[@i].Valor" @(item.UnidadeMedicao.Equals("1") ? "" : "readonly") value="0"  class="form-control calc-valor" /></th>
                                                                            <th><input type="text" name="SolicitacaoServicoMedicaoItem[@i].Total" value="" readonly class="form-control calc-total" /></th>
                                                                            <th><input type="text" name="SolicitacaoServicoMedicaoItem[@i].Observacao" value="" class="form-control" /></th>
                                                                            <th>
                                                                                <div class="custom-file">
                                                                                    <input type="file" name="SolicitacaoServicoMedicaoItem[@i].customFile" class="custom-file-input" id="customFile">
                                                                                    <label class="custom-file-label" for="customFile">Selecionar Anexo</label>
                                                                                </div>
                                                                            </th>
                                                                            <th></th>
                                                                            <th></th>
                                                                        </tr>

                                                                    }

                                                                </tbody>
                                                            </table>
                                                        }
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    i = i + 1;

                                }
                            }

                        </div>

                        <div class="row mt-2 text-right">
                            <div class="col-md-12">
                                <a asp-action="Index" asp-controller="SolicitacaoServico" class="btn btn-secondary shadow-0 btn-sm ml-auto flex-shrink-0 waves-effect waves-themed">Voltar</a>
                                <button type="button" class="btn btn-success shadow-0 btn-sm ml-auto flex-shrink-0 waves-effect waves-themed btn-salvar-ss">
                                    Salvar
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-item-medicao-aprovar-reprovada" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Aprovar/Reprovar
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="cadItemMedicaoAprovarReprovar" name="cadItemMedicaoAprovarReprovar" enctype="multipart/form-data">

                    <input name="SolicitacaoServicoItemMedicaoID" type="hidden" value="" />
                    <input name="MedicaoEvento" type="hidden" value="" />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label" for="Observacao">Observação</label>
                                <textarea name="Observacao" id="Observacao" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-salvar-aprovar-reprovar">Salvar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-anexo-medicao-nota-fiscal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Anexo Nota Fiscal
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="cadAnexoMedicaoNotaFiscal" name="cadAnexoMedicaoNotaFiscal" enctype="multipart/form-data">

                    <input name="SolicitacaoServicoMedicaoID" type="hidden" value="" />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Arquivo</label>
                                <div class="custom-file">
                                    <input type="file" name="customFile" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Selecionar Anexo</label>
                                </div>
                            </div>
                        </div>
                    </div>


                </form>

                <div class="row mt-3">
                    <div class="col-md-12 ml-sm-auto">
                        <div class="alert alert-info hide" role="alert">
                            <strong class="info-alteracao"></strong>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-salvar-anexo-nota-fiscal">Salvar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/Util.js" asp-append-version="true"></script>
    <script src="~/js/SolicitacaoServicoMedicao.js" asp-append-version="true"></script>
}