@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@using Facile.BusinessPortal.Library.Extensions
@using Facile.BusinessPortal.BusinessRules.Session

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <!-- Call App Mode on ios devices -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- base css -->
    <link rel="stylesheet" media="screen, print" href="~/smartadmin/css/vendors.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/smartadmin/css/app.bundle.css">
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/smartadmin/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/smartadmin/img/favicon/favicon-32x32.png">
    <link rel="mask-icon" href="~/smartadmin/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" media="screen, print" href="~/smartadmin/css/datagrid/datatables/datatables.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/smartadmin/css/notifications/sweetalert2/sweetalert2.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/smartadmin/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">
    <link rel="stylesheet" media="screen, print" href="~/smartadmin/css/statistics/chartjs/chartjs.css">
    <link rel="stylesheet" media="screen, print" href="~/smartadmin/css/formplugins/select2/select2.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/smartadmin/css/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.css">
    <link rel="stylesheet" media="screen, print" href="~/css/site.css">
</head>
<body class="mod-bg-1 ">

    <!-- DOC: script para carregar e definir o Thema de cores da aplicação -->
    <script>
        var theme = '@(SessionSettings.Empresa_Theme_Path)';
    </script>
    <script src="~/js/Tema.js" asp-append-version="true"></script>
    <!-- fim -->

    @{
        var menumodel = HttpContextAccessor.HttpContext.Session.GetObject<AllMenusUsuarioViewModel>("AllMenusUsuarioViewModel");
        var modulomodel = HttpContextAccessor.HttpContext.Session.GetObject<AllModulosUsuarioViewModel>("AllModulosUsuarioViewModel");
        var user = HttpContextAccessor.HttpContext.Session.GetString("CurrentUserName");
    }


    <!-- BEGIN Page Wrapper -->
    <div class="page-wrapper">
        <div class="page-inner">
            <!-- BEGIN Left Aside -->
            <aside class="page-sidebar">
                <div class="page-logo">
                    <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">
                        <img src="@Html.Raw(SessionSettings.Empresa_LogoMini_Image_return)" alt="Icon" aria-roledescription="logo">
                        <span class="page-logo-text mr-1">@Html.Raw(SessionSettings.Empresa_Nome_Portal)</span>
                        <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
                        <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
                    </a>
                </div>
                <!-- BEGIN PRIMARY NAVIGATION -->
                <nav id="js-primary-nav" class="primary-nav" role="navigation">
                    <div class="nav-filter">
                        <div class="position-relative">
                            <input type="text" id="nav_filter_input" placeholder="Filter menu" class="form-control" tabindex="0">
                            <a href="#" onclick="return false;" class="btn-primary btn-search-close js-waves-off" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar">
                                <i class="fal fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="info-card">
                        <img src="~/imagens/userprofile.png" class="profile-image rounded-circle">
                        <div class="info-card-text">
                            <a href="#" class="d-flex align-items-center text-white">
                                <span class="text-truncate text-truncate-sm d-inline-block">
                                    Dr. Codex Lantern
                                </span>
                            </a>
                            <span class="d-inline-block text-truncate text-truncate-sm">Toronto, Canada</span>
                        </div>
                        <img src="~/smartadmin/img/card-backgrounds/cover-2-lg.png" class="cover" alt="cover">
                        <a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
                            <i class="fal fa-angle-down"></i>
                        </a>
                    </div>
                    <ul id="js-nav-menu" class="nav-menu">
                        @if (menumodel != null)
                        {
                            foreach (var grupo in menumodel.Grupos)
                            {
                                var action = "";
                                var controller = "";
                                var descricao = "";
                                var icon = "";

                                if (grupo.Menus.Any())
                                {
                                    if (grupo.Menus.Count == 1)
                                    {
                                        var menu = grupo.Menus.ElementAt(0);

                                        action = !string.IsNullOrWhiteSpace(menu.ActionName) ? menu.ActionName.Trim() : "Index";
                                        controller = menu.ControllerName;
                                        descricao = menu.Descricao;
                                        icon = grupo.ClasseIcone;

                                        <li>
                                            <a asp-area="@grupo.Area" asp-controller="@controller" asp-action="@action" title="@descricao" data-filter-tags="@descricao">
                                                <i class="@icon "></i>
                                                <span class="nav-link-text">@descricao</span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        icon = grupo.ClasseIcone;
                                        <li>
                                            <a href="javascript: void(0);" title="@grupo.Nome" data-filter-tags="@grupo.Nome">
                                                <i class="@icon"></i>
                                                <span class="nav-link-text">@grupo.Nome</span>
                                            </a>
                                            <ul>

                                                @foreach (var menu in grupo.Menus)
                                                {
                                                    controller = menu.ControllerName;
                                                    descricao = menu.Descricao;
                                                    action = !string.IsNullOrWhiteSpace(menu.ActionName) ? menu.ActionName.Trim() : "Index";

                                                    <li>
                                                        <a asp-area="@grupo.URL" asp-controller="@controller" asp-action="@action" title="@descricao" data-filter-tags="@descricao">
                                                            <span class="nav-link-text">@descricao</span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }

                                }

                            }
                        }
                    </ul>
                    <div class="filter-message js-filter-message bg-success-600"></div>
                </nav>
                <!-- END PRIMARY NAVIGATION -->
                <!-- NAV FOOTER -->
            </aside>
            <!-- END Left Aside -->
            <div class="page-content-wrapper">
                <!-- BEGIN Page Header -->
                <header class="page-header" role="banner">
                    <!-- we need this logo when user switches to nav-function-top -->
                    <div class="page-logo">
                        <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">
                            <img src="@Html.Raw(SessionSettings.Empresa_LogoMini_Image_return)" alt="Icon" aria-roledescription="logo">
                            <span class="page-logo-text mr-1">@Html.Raw(SessionSettings.Empresa_Nome_Portal)</span>
                            <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
                            <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
                        </a>
                    </div>
                    <!-- DOC: nav menu layout change shortcut -->
                    <div class="hidden-md-down dropdown-icon-menu position-relative">
                        <a href="#" class="header-btn btn js-waves-off" data-action="toggle" data-class="nav-function-hidden" title="Hide Navigation">
                            <i class="ni ni-menu"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-minify" title="Minify Navigation">
                                    <i class="ni ni-minify-nav"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-fixed" title="Lock Navigation">
                                    <i class="ni ni-lock-nav"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- DOC: mobile button appears during mobile width -->
                    <div class="hidden-lg-up">
                        <a href="#" class="header-btn btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
                            <i class="ni ni-menu"></i>
                        </a>
                    </div>
                    @*<div class="search">
                            <form class="app-forms hidden-xs-down" role="search" action="page_search.html" autocomplete="off">
                                <input type="text" id="search-field" placeholder="Procurar" class="form-control" tabindex="1">
                                <a href="#" onclick="return false;" class="btn-danger btn-search-close js-waves-off d-none" data-action="toggle" data-class="mobile-search-on">
                                    <i class="fal fa-times"></i>
                                </a>
                            </form>
                        </div>*@
                    <div class="ml-auto d-flex">
                        <!-- activate app search icon (mobile) -->
                        <div class="hidden-sm-up">
                            <a href="#" class="header-icon" data-action="toggle" data-class="mobile-search-on" data-focus="search-field" title="Search">
                                <i class="fal fa-search"></i>
                            </a>
                        </div>

                        <!-- app user menu -->
                        <div>
                            <a href="#" data-toggle="dropdown" title="Perfil do Usuário" class="header-icon d-flex align-items-center justify-content-center ml-2">
                                <img src="~/imagens/userprofile.png" class="profile-image rounded-circle">

                                <!-- you can also add username next to the avatar with the codes below:
                                <span class="ml-1 mr-1 text-truncate text-truncate-header hidden-xs-down">Me</span>
                                <i class="ni ni-chevron-down hidden-xs-down"></i> -->
                            </a>
                            <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
                                <div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
                                    <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
                                        <div class="info-card-text">
                                            <div class="fs-lg text-truncate text-truncate-lg">@(Html.Raw(SessionSettings.CurrentUserName))</div>
                                            <span class="text-truncate opacity-80">@(Html.Raw(SessionSettings.CurrentUserEmail))</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider m-0"></div>
                                <a href="#" class="dropdown-item" data-action="app-fullscreen">
                                    <span data-i18n="drpdwn.fullscreen">Tela Cheia</span>
                                    <i class="float-right text-muted fw-n">F11</i>
                                </a>
                                <div class="dropdown-divider m-0"></div>
                                <a asp-area="" asp-controller="Account" asp-action="Logout" class="dropdown-item fw-500 pt-3 pb-3">
                                    <span data-i18n="drpdwn.page-logout">Logout</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- END Page Header -->
                <!-- BEGIN Page Content -->
                <!-- the #js-page-content id is needed for some plugins to initialize -->
                <main id="js-page-content" role="main" class="page-content">
                    @RenderBody()
                </main>
                <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center">
                    2019 © Facile Cloud Apps by&nbsp;<a href="https://www.facilesistemas.com.br" class="opacity-40 fw-500" title="www.facilesistemas.com.br" target="_blank">www.facilesistemas.com.br</a>
                </div>
                <!-- this overlay is activated only when mobile menu is triggered -->
                <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div> <!-- END Page Content -->

            </div>
        </div>
    </div>

    <div class="modal fade modal-backdrop-transparent" id="modal-shortcut" tabindex="-1" role="dialog" aria-labelledby="modal-shortcut" aria-hidden="true">
        <div class="modal-dialog modal-dialog-top modal-transparent" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <ul class="app-list w-auto h-auto p-0 text-left">
                        @if (modulomodel != null)
                        {
                            foreach (var modulo in modulomodel.Modulos)
                            {
                                <li>
                                    <a asp-area="@(modulo.Nome)" asp-controller="@(modulo.URL)" asp-action="Index" class="app-list-item text-white border-0 m-0">
                                        <div class="icon-stack">
                                            <i class="base base-7 icon-stack-3x opacity-100 color-primary-500 "></i>
                                            <i class="base base-7 icon-stack-2x opacity-100 color-primary-300 "></i>
                                            <i class="fal @modulo.ClasseIcone icon-stack-1x text-white"></i>
                                        </div>
                                        <span class="app-list-name">
                                            @modulo.Descricao
                                        </span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- END Shortcuts -->

    <div id="preloader" class="hide">
        <div id="status" class="text-center">Aguarde...</div>
    </div>

    <script src="~/smartadmin/js/vendors.bundle.js"></script>
    <script src="~/smartadmin/js/app.bundle.js"></script>

    <script src="~/smartadmin/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/smartadmin/js/notifications/sweetalert2/sweetalert2.bundle.js"></script>
    <script src="~/smartadmin/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/smartadmin/js/statistics/chartjs/chartjs.bundle.js"></script>
    <script src="~/smartadmin/js/formplugins/select2/select2.bundle.js"></script>
    <script src="~/smartadmin/js/dependency/moment/moment.js"></script>
    <script src="~/smartadmin/js/formplugins/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
    <script src="~/smartadmin/js/formplugins/inputmask/inputmask.bundle.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
