@model LoginViewModel
@using Facile.BusinessPortal.BusinessRules.Session
@inject SignInManager<Facile.BusinessPortal.Model.ApplicationUser> SignInManager

<div class="page-wrapper">
    <div class="page-inner bg-brand-gradient">
        <div class="page-content-wrapper bg-transparent m-0">
            <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
                <div class="d-flex align-items-center container p-0">
                    <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
                        <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                            <!--<img src="@Html.Raw(SessionSettings.Empresa_LogoMini_Image_return)" alt="Icon" aria-roledescription="logo">-->
                            <span class="page-logo-text mr-1">@Html.Raw(SessionSettings.Empresa_Nome_Portal)</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex-1" style="background: url(@Html.Raw(SessionSettings.Empresa_Login_Background_Image)) no-repeat center bottom fixed; background-size: cover;">
                <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
                    <div class="row">
                        <div class="col col-md-6 col-lg-7 hidden-sm-down">
                            <h2 class="fs-xxl fw-500 mt-4 text-white bg-brand-gradient" style="opacity: 0.8">
                                <small class="h3 fw-300 mt-3 mb-5">
                                    @Html.Raw(SessionSettings.Empresa_Welcome_Message)
                                </small>
                            </h2>
                            <a href="#" class="fs-lg fw-500 text-white opacity-70"></a>
                            <div class="d-sm-flex flex-column align-items-center justify-content-center d-md-block">
                                <div class="px-0 py-1 mt-5 text-white fs-nano opacity-50">

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 ml-auto">
                            <h1 class="text-white fw-300 mb-3 d-sm-block d-md-none">
                                Login Usuário
                            </h1>
                            <div class="card p-4 rounded-plus bg-faded">
                                <form id="js-login" novalidate="" asp-controller="Account" asp-action="Login" method="post">
                                    <div class="form-group">
                                        <label class="form-label" for="username">Usuário/CNPJ</label>
                                        <input name="Usuario" type="text" id="usuario" class="form-control form-control-lg" placeholder="digite seu Usuário/CNPJ" value="" required>
                                        <div class="invalid-feedback">Usuário/CNPJ obrigatório.</div>
                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="password">Senha</label>
                                        <input name="Password" type="password" id="password" class="form-control form-control-lg" placeholder="digite sua senha" value="" required>
                                        <div class="invalid-feedback">Senha obrigatória.</div>
                                        <div class="help-block"></div>
                                    </div>

                                    @if (ViewBag.IsEmailConfirmed != null && !(bool)ViewBag.IsEmailConfirmed)
                                    {
                                        <div class="form-group">
                                            <label class="form-label" for="password">Token</label>
                                            <input name="Token" type="text" id="token" class="form-control form-control-lg" placeholder="digite o token recebido por e-mail" value="" required>
                                        </div>
                                    }

                                    @*<div class="form-group text-left">
                                        <div class="custom-control custom-checkbox">
                                            <input value="true" name="RememberMe" type="checkbox" class="custom-control-input" id="rememberme">
                                            <label class="custom-control-label" for="rememberme"> Lembre-me </label>
                                        </div>
                                    </div>*@
                                    @if (Context.Request != null)
                                    {
                                        <div class="form-group">
                                            @{
                                                var reterros = Context.Request.Query["reterros"];
                                                @Html.Raw(reterros)
                                            }
                                        </div>
                                    }
                                    <div class="row no-gutters">
                                        <div class="col-lg-12 pr-lg-1 my-2">
                                            <button type="submit" id="js-login-btn" class="btn btn-primary btn-block btn-lg">Acessar</button>
                                        </div>
                                    </div>
                                    <div class="row no-gutters">
                                        <a asp-action="ForgotPassword">Esqueci minha senha</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
                        2019 © Facile Cloud Apps by&nbsp;<a href="https://www.facilesistemas.com.br" class="text-white opacity-40 fw-500" title="www.facilesistemas.com.br" target="_blank">www.facilesistemas.com.br</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/smartadmin/js/vendors.bundle.js"></script>
    <script src="~/smartadmin/js/app.bundle.js"></script>
    <script>
        $("#js-login-btn").click(function (event) {

            // Fetch form to apply custom Bootstrap validation
            var form = $("#js-login")


            if (form[0].checkValidity() === false) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.addClass('was-validated');
            // Perform ajax submit here...
        });

    </script>
}
