@model Facile.BusinessPortal.Model.Compra.Servico.SolicitacaoServico

@{
    ViewData["Title"] = "Solicitação de Serviço";
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Detalhes Solicitação Serviço
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Tela Cheia"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!-- datatable start -->
                    <!-- class="bg-highlight"-->


                    <div class="accordion accordion-hover" id="accordion-0">
                        <div class="card">
                            <div class="card-header">
                                <a href="javascript:void(0);" class="card-title" data-toggle="collapse" data-target="#accordion-0-a" aria-expanded="true">
                                    @*<i class="fal fa-cog width-2 fs-xl"></i>*@
                                    Informações Gerais
                                    <span class="ml-auto">
                                        <span class="collapsed-reveal">
                                            <i class="fal fa-chevron-up fs-xl"></i>
                                        </span>
                                        <span class="collapsed-hidden">
                                            <i class="fal fa-chevron-down fs-xl"></i>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div id="accordion-0-a" class="collapse show" data-parent="#accordion-0">
                                <div class="card-body">

                                    <table id="dt-registro" class="table table-bordered table-hover table-striped w-100">
                                        <tbody>
                                            <tr>
                                                <th width="30%">Tipo Serviço</th>
                                                <td>@Model.TipoServico.ToString()</td>
                                            </tr>
                                            <tr>
                                                <th>Prioridade</th>
                                                <td>@(Model.PrioridadeServico != null? Model.PrioridadeServico.Codigo+" - "+ Model.PrioridadeServico.Descricao : "")</td>
                                            </tr>
                                            <tr>
                                                <th>Data Necessidade</th>
                                                <td>@Model.DataNecessidade.ToString("dd/MM/yyyy")</td>
                                            </tr>
                                            <tr>
                                                <th>Classe de Valor</th>
                                                <td>@(Model.ClasseValor != null? Model.ClasseValor.Codigo + " - " + Model.ClasseValor.Descricao : "")</td>
                                            </tr>
                                            <tr>
                                                <th>Setor Aprovação</th>
                                                <td>@(Model.SetorAprovacao != null? Model.SetorAprovacao.Codigo + " - " + Model.SetorAprovacao.Descricao : "")</td>
                                            </tr>
                                            <tr>
                                                <th>Item Conta</th>
                                                <td>@(Model.ItemConta != null? Model.ItemConta.Codigo + " - " + Model.ItemConta.Descricao : "")</td>
                                            </tr>
                                            <tr>
                                                <th>Sub Item Conta</th>
                                                <td>@(Model.SubItemConta != null? Model.SubItemConta.Codigo + " - " + Model.SubItemConta.Descricao : "")</td>
                                            </tr>
                                            <tr>
                                                <th>Contrato</th>
                                                <td>@(Model.Contrato != null? Model.Contrato.Codigo + " - " + Model.Contrato.Descricao : "")</td>
                                            </tr>

                                            <tr>
                                                <th>Solicitante Real</th>
                                                <td>@(Model.UsuarioOrigem != null? Model.UsuarioOrigem.Nome: "")</td>
                                            </tr>
                                            <tr>
                                                <th>Descrição Breve</th>
                                                <td>@(Model.Descricao)</td>
                                            </tr>
                                            <tr>
                                                <th>Observação</th>
                                                <td>@(Model.Observacao)</td>
                                            </tr>

                                            <tr>
                                                <th>Tipo Visita</th>
                                                <td>@Model.TipoVisita.ToString()</td>
                                            </tr>
                                            @if (Model.TipoVisita.Equals("1"))
                                            {
                                                <tr>
                                                    <th>Data Visita</th>
                                                    <td>@Model.DataHoraVisita</td>
                                                </tr>
                                            }                                           
                                        </tbody>
                                        <tfoot>

                                        </tfoot>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#accordion-0-b" aria-expanded="false">
                                    @*<i class="fal fa-code-merge width-2 fs-xl"></i>*@
                                    Serviços
                                    <span class="ml-auto">
                                        <span class="collapsed-reveal">
                                            <i class="fal fa-chevron-up fs-xl"></i>
                                        </span>
                                        <span class="collapsed-hidden">
                                            <i class="fal fa-chevron-down fs-xl"></i>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div id="accordion-0-b" class="collapse" data-parent="#accordion-0">
                                <div class="card-body">

                                    <div class="row mt-2">
                                        <table class="table" id="tabela-servico-item">
                                            <thead>
                                                <tr>
                                                    <th>Código</th>
                                                    <th width="30%">Descrição</th>
                                                    <th>Quantidade</th>
                                                    <th>Aplicação</th>
                                                    <th>Driver</th>
                                                    <th>Tag</th>
                                                    <th>Armazem</th>
                                                    <th>Und. Medição</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.SolicitacaoServicoItem)
                                                {
                                                    <tr>
                                                        <td>@item.Produto.Codigo</td>
                                                        <td>@item.Descricao</td>
                                                        <td>@string.Format("{0:N}", item.Quantidade)</td>
                                                        <td>@item.Aplicacao.Descricao</td>
                                                        <td>@item.Driver.Codigo</td>
                                                        <td>@(item.TAG!=null? item.TAG.Codigo:"")</td>
                                                        <td>@item.Armazem.Codigo</td>
                                                        <td>@item.UnidadeMedicaoDescricao()</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#accordion-0-c" aria-expanded="false">
                                    @*<i class="fal fa-cloud-upload-alt width-2 fs-xl"></i>*@
                                    Fornecedores
                                    <span class="ml-auto">
                                        <span class="collapsed-reveal">
                                            <i class="fal fa-chevron-up fs-xl"></i>
                                        </span>
                                        <span class="collapsed-hidden">
                                            <i class="fal fa-chevron-down fs-xl"></i>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div id="accordion-0-c" class="collapse" data-parent="#accordion-0">
                                <div class="card-body">

                                    <div class="row mt-2">
                                        <table class="table" id="tabela-fornecedor-item">
                                            <thead>
                                                <tr>
                                                    <th width="20%">CNPJ</th>
                                                    <th>Nome</th>
                                                    <th width="10%">Visita?</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.SolicitacaoServicoFornecedor)
                                                {
                                                    <tr>
                                                        <td>@item.Fornecedor.CPFCNPJ</td>
                                                        <td>@item.Fornecedor.Nome</td>
                                                        <td>@(item.AgendarVisita?"Sim":"Não")</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

}