@model IEnumerable<Facile.BusinessPortal.Model.NotaFiscalCompra>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Lista de nota fiscais compras";
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Nota fiscais de compras
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Tela Cheia"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!-- datatable start -->
                    <!-- class="bg-highlight"-->
                    <!-- class="bg-highlight"-->
                    <table id="dt-registro" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>Chave NFe</th>
                                <th>Número/Série</th>
                                <th>Dt. Emissão</th>
                                <th width="20%">Produto</th>
                                <th>Status Agen.</th>
                                <th>Status Ped.</th>
                                <th>Tipo Frete</th>
                                <th>Status Trans.</th>
                                <th width="6%">Ações</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-agendamento" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Agendamento
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form name="cadAgendamento">

                    <input id="IdNotaFiscais" type="hidden" name="IdNotaFiscais" value="">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label" for="data">Data Agendamento</label>
                                <input disabled class="form-control data-datepicker" id="DataAgendamento" type="text" name="DataAgendamento" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label" for="data">Hora Agendamento</label>
                                <input class="form-control" id="HoraAgendamento" type="time" name="HoraAgendamento" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label" for="Observacao">Observação</label>
                                <textarea name="Observacao" id="Observacao" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-salvar-agendamento">Salvar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-agendamento-calendario" style="padding-left: 17px;padding-right: 17px;" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog mw-100 w-100" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Agendamento
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="calendar" class="fc fc-ltr fc-bootstrap"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-informar-transporte" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Informar Dados do Transporte
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form name="cadInformarTransporte" id="cadInformarTransporte">
                    <input class="form-control" id="NotaFiscalCompraId" type="hidden" name="NotaFiscalCompraId" value="">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label" for="simpleinput">Tipo Veiculo</label>
                                <select class="form-control select2-select" name="TipoVeiculoID" asp-items="@ViewBag.ListaTipoVeiculo">
                                    <option value="">Selecione...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label" for="simpleinput">Tipo Produto</label>
                                <select class="form-control select2-select" name="TipoProdutoID" asp-items="@ViewBag.ListaTipoProduto">
                                    <option value="">Selecione...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label" for="data">Motorista</label>
                                <select name="Motorista" id="Motorista" class="form-control select2" asp-items="@ViewBag.ListaMotorista">
                                    <option value="">Selecione...</option>
                                </select>
                                @*<input class="form-control" id="Motorista" type="text" name="Motorista" value="">*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label" for="data">Placa</label>
                                <input class="form-control" id="Placa" type="text" name="Placa" value="">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-remover-informar-transporte">Remover</button>
                <button type="button" class="btn btn-success btn-salvar-informar-transporte">Salvar</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="FieldSearch" value="">
<a href="@Url.Action("Agendado", "NotaFiscalCompra")" class="hide new-page" target="_blank"></a>

@section Scripts {
    <script>
        var UrlBase = '@Url.Action("Index", "Motorista")';
    </script>
    <script asp-append-version="true" src="~/js/NotaFiscalCompra.js"></script>
    <script asp-append-version="true" src="~/js/NotaFiscalCompraTR.js"></script>
    <script asp-append-version="true" src="~/smartadmin/js/dependency/moment/moment.js"></script>
    <script asp-append-version="true" src="~/smartadmin/js/miscellaneous/fullcalendar/fullcalendar.bundle.js"></script>
    <script asp-append-version="true" src="~/smartadmin/js/miscellaneous/fullcalendar/locales-all.js"></script>
    <script asp-append-version="true" src="~/js/Agenda.js"></script>
}