@{
    ViewData["Title"] = "Editar Grupo Acesso";
}


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Grupo de acesso
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Tela Cheia"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <div style="margin:0px 5px 5px 5px;">
                        <label for="Nome" style="float:left; margin-top:7px;">Nome:</label>
                        <input type="text" id="NomeGrupo" name="NomeGrupo" maxlength="50" class="form-control" style="width:30%; float:left; margin:0px 5px 5px 5px;" readonly value="Nome do Grupo">
                        <button class="btn btn-outline-primary waves-effect waves-themed" style="float:right;" tabindex="0" aria-controls="dt-registro" type="button"><span><i class="fal fa-handshake mr-1"></i> Salvar</span></button>
                    </div>

                    <table id="dt-registro" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>#</th>
                                <th>Tela</th>
                                <th>
                                    <div class="custom-control custom-checkbox mr-3 order-1" style="float:left;">
                                        <input type="hidden" name="Id" value="xx">
                                        <input type="checkbox" name="Incluir" class="custom-control-input checkItemAll" id="Incluir">
                                        <label class="custom-control-label" for="Incluir"></label>
                                    </div>
                                    <span style="float:left;">Incluir</span>

                                </th>
                                <th>
                                    <div class="custom-control custom-checkbox mr-3 order-1" style="float:left;">
                                        <input type="checkbox" name="Visualizar" class="custom-control-input checkItemAll" id="Visualizar">
                                        <label class="custom-control-label" for="Visualizar"></label>
                                    </div>
                                    <span style="float:left;">Visualizar</span>

                                </th>
                                <th>
                                    <div class="custom-control custom-checkbox mr-3 order-1" style="float:left;">
                                        <input type="checkbox" name="Editar" class="custom-control-input checkItemAll" id="Editar">
                                        <label class="custom-control-label" for="Editar"></label>
                                    </div>
                                    <span style="float:left;">Editar</span>

                                </th>
                                <th>
                                    <div class="custom-control custom-checkbox mr-3 order-1" style="float:left;">
                                        <input type="checkbox" name="Deletar" class="custom-control-input checkItemAll" id="Deletar">
                                        <label class="custom-control-label" for="Deletar"></label>
                                    </div>
                                    <span style="float:left;">Deletar</span>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                string a = "";

                                for (int i = 1; i <= 10; i++)
                                {
                                    a = i.ToString().PadLeft(4, '0');
                                    <tr class="getClick" id="@a">
                                        <th>@a</th>
                                        <th>Tela @a</th>
                                        <th>
                                            <div class="custom-control custom-checkbox mr-3 order-1">
                                                <input type="hidden" name="Id" value="@i">
                                                <input type="checkbox" name="checkItemIncluir_@i" class="custom-control-input checkItemAllIncluir" id="checkItemIncluir_@i">
                                                <label class="custom-control-label" for="checkItemIncluir_@i"></label>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="custom-control custom-checkbox mr-3 order-1">
                                                <input type="hidden" name="Id" value="@i">
                                                <input type="checkbox" name="checkItemVisualizar_@i" class="custom-control-input checkItemAllVisualizar" id="checkItemVisualizar_@i">
                                                <label class="custom-control-label" for="checkItemVisualizar_@i"></label>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="custom-control custom-checkbox mr-3 order-1">
                                                <input type="hidden" name="Id" value="@i">
                                                <input type="checkbox" name="checkItemEditar_@i" class="custom-control-input checkItemAllEditar" id="checkItemEditar_@i">
                                                <label class="custom-control-label" for="checkItemEditar_@i"></label>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="custom-control custom-checkbox mr-3 order-1">
                                                <input type="hidden" name="Id" value="@i">
                                                <input type="checkbox" name="checkItemDeletar_@i" class="custom-control-input checkItemAllDeletar" id="checkItemDeletar_@i">
                                                <label class="custom-control-label" for="checkItemDeletar_@i"></label>
                                            </div>
                                        </th>


                                    </tr>
                                }
                            }


                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/Util.js" asp-append-version="true"></script>
    <script src="~/js/GrupoAcesso.js" asp-append-version="true"></script>
}